<div class="container">
<div class="row" *ngIf="books let books; else elseBlock"  >

    <div class="col-md-6" *ngFor="let book of books; index as i;">
        <div class="row no-gutters border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
          <div class="col p-4 d-flex flex-column position-static">
            <strong class="d-inline-block mb-2 text-primary">{{book.subject}}</strong>
            <h3 class="mb-0">{{book.name}}</h3>
            <div class="mb-1 text-muted">{{book.createOn}}</div>
            <p class="card-text mb-auto">{{book.description}} </p>
            <a href="#" class="stretched-link">{{book.unitPrice}} Rs /-</a>
            <button mat-raised-button style="width: 30%; align-content: center;">Add Cart</button>
        </div>
        <div class="col-auto d-none d-lg-block">
            <img class="bd-placeholder-img" width="200" height="250" src="{{book.imageUrl}}"/>
          </div>
        </div>
      </div>
</div>


<ng-template #elseBlock>Content to render when condition is false.</ng-template>
</div>